* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
}

body{
    background-image: url("fabric-texture-blue-background.jpg");
    background-size: auto;
}

.container{
    width: 80%;
    max-width: 37.5rem;
    padding: 3rem 1.5rem;
    background-color: #ffffff;
    position: absolute;
    transform:  translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6rem;
    box-shadow: 0 1.4em 3em rgba(20, 16, 39, 0.8);
}

.container img{
    display: block;
    height: 25rem;
    max-width: 80%;
    margin: 0 auto 1rem auto;
}

.container h3{
    display: block;
    font-size: 1em;
    margin: 0.5em auto 2rem auto;
    width: 70%;
    font-weight: 800;
    text-align: center;
    text-transform: capitalize;
    color: #737081;
    letter-spacing: 0.03em;
}

.container button {
    display: block;
    margin: 0 auto;
    font-size: 1.2em;
    padding: 0.8em 2em;
    border-radius: 2em;
    background-color: #d25b0c;
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
}

.container h4{
    color: #000000;
    font-size: 18px;
    margin: 1em auto 0.1rem auto;
    text-align: center;
}

@media screen and (max-width: 600px){
    .container {
        font-size: 14px;
    }
}